.restartGameContainer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--font-color);
            cursor: pointer;
            font-size: 1.7em;
            transition: 0.45s;
            filter: brightness(0.5);
            &:hover {
                transform: rotate(360deg);
                filter: brightness(1);
            }
        }
    }
}
