.navContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    .navigation {
        width: 65vw;
        display: flex;
        justify-content: space-between;
        nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: var(--font-color);
            div {
                display: flex;
                font-size: 0.9em;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 3px;
                }
                p {
                    padding: 0 2px;
                    cursor: pointer;
                    transition: 0.15s;
                    filter: brightness(0.7);
                    &:hover {
                        filter: brightness(1);
                    }
                }
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 52px;
            height: 52px;
            padding-right: 10px;
        }
        h1 {
            font-family: 'Questrial', sans-serif;
            font-weight: 600;
            font-size: 2.2em;
            color: var(--font-color);
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                filter: brightness(1.5);
            }
        }
    }
}
